# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [169]:
DATA_FOLDER = r'C:\Users\User\git\ADA2017-Tutorials\02-IntrotoPandas\Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per month of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
guinea_folder = r'C:\Users\User\git\ADA2017-Tutorials\02 - Intro to Pandas\Data\ebola\guinea_data'

In [3]:
all_files_guinea = glob.glob(guinea_folder + "/*.csv")

In [4]:
frame = pd.DataFrame()
list_ = []
for file_ in all_files_guinea:
    data = pd.read_csv(file_,parse_dates=['Date'], header=0)
    list_.append(data)
frame = pd.concat(list_)

In [5]:
filtered_data = frame.loc[frame['Description'].apply(func=lambda x: ('new cases' in x.lower() or 'new deaths' in x.lower()) and 'total' not in x.lower()),:]

In [6]:
guinea_data = filtered_data[['Date','Description','Totals']]

In [7]:
guinea_data = guinea_data.dropna()#dropna is used here to eliminate the NaN values

In [8]:
guinea_data['Totals'] = guinea_data['Totals'].apply(pd.to_numeric, errors='coerce')

In [9]:
guinea_data['Totals'].groupby([guinea_data.Date.dt.month]).agg(['sum','count','mean'])

      sum  count      mean
Date
8     148     30  4.933333
9     378     96  3.937500
10     51      6  8.500000

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here